.dashboard_box {
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
    height: 100% !important;
}

.dashboard_box p {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(51, 40, 40);
}

@media (max-width: 575px) {
    .dashboard_box p {
        font-size: 25px !important;
    }
    .dashboard_box h5 {
        font-size: 20px;
    }

    .dashboard_box div:last-child {
        font-size: 90px !important;
    }
}
