.assign_task_div .assign_select_dev,
.assign_task_div .assign_add_task,
.assign_task_div .assign_task_box {
    box-shadow: 0px 0px 4px black;
    border-radius: 10px;
}

.assign_task_page label {
    display: block;
    font-size: 1.2em;
    font-weight: 500;
}

.assign_task_page input,
.assign_task_page select {
    width: 100%;
    padding: 0.5em 1em !important;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(18, 159, 169);
}

.assign_task_page select {
    border: 1px solid rgb(129, 198, 10);
}

.assign_task_page .add_task_btn {
    outline: none;
    border: 1px solid rgb(12, 124, 216);
    padding: 0.5em 1em !important;
    border-radius: 10px;
    background-color: white;
    color: rgb(12, 124, 216);
    transition: all 0.2s ease;
}

.assign_task_page .add_task_btn:hover {
    background-color: rgb(12, 124, 216);
    color: white;
}

.assign_task_box .assign_task_btn {
    border: none;
    outline: none;
    background-color: rgb(224, 160, 81);
    color: white;
    padding: 0.6em 1em !important;
    border-radius: 10px;
}

.assign_task_box .assign_task_btn:hover {
    background-color: rgb(180, 119, 45);
    transition: all 0.2s ease;
}

.assign_task_box .task_unorder {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.4em;
}

.assign_task_box .task_unorder li {
    padding: 0.4em 0.5em !important;
    border-left: 4px solid rgb(231, 56, 193);
    background-color: rgb(243, 235, 235);
    border-radius: 10px;
}
