.submit_request_list {
    box-shadow: 0px 0px 2px black;
    padding: 0.5em !important;
    border-radius: 10px;
}

.submit_request_list div {
    min-height: 100px;
    flex-basis: 200px;

    padding: 0.5em !important;
    border-radius: 10px;
}

.submit_request_list div:first-child {
    border: 1px solid purple;
    border-left: 4px solid purple;
    box-shadow: 0px 0px 2px purple;
}
.submit_request_list div:nth-child(2) {
    border: 1px solid indianred;
    border-left: 4px solid indianred;
    box-shadow: 0px 0px 2px indianred;
}
.submit_request_list div:nth-child(3) {
    border: 1px solid teal;
    border-left: 4px solid teal;
    box-shadow: 0px 0px 2px teal;
}
.submit_request_list div:last-child {
    border: 1px solid rgb(220, 18, 52);
    border-left: 4px solid rgb(220, 18, 52);
    box-shadow: 0px 0px 2px rgb(220, 18, 52);
}

.submit_request_list .req_task {
    flex-grow: 1;
}

.submit_request_list button {
    border-radius: 10px;
    border-radius: 10px;
    padding: 0.5em !important;
    height: fit-content;
    transition: all 0.3s ease;
}

.submit_request_list .req_reject_btn {
    border: 2px solid brown;
    background-color: white;
}

.req_reject_btn:hover {
    background-color: brown;
    color: white;
}

.req_reject_btn:disabled {
    background-color: grey;
    color: white;
    opacity: 50%;
    border: 2px solid grey;
    cursor: not-allowed;
}

.submit_request_list .req_complete_btn {
    background-color: rgb(229, 47, 108);
    color: white;
    border: 2px solid rgb(229, 47, 108);
}

.req_complete_btn:hover {
    background-color: rgb(202, 8, 128);
    border: 2px solid rgb(202, 8, 128);
}

.req_complete_btn:disabled {
    background-color: grey;
    color: white;
    opacity: 50%;
    border: 2px solid grey;
    cursor: not-allowed;
}

@media (max-width: 575px) {
    .submit_request_list > div {
        flex-grow: 1;
    }
}
